html 
    head
        include ../partials/boot
    body
        h3 Add New Shift
        form
            div.form-group
                label Date
                select(class="form-control" name="ev-date" id="ev-date")
                    -let i = 1
                    while i < 32
                        option(value=`${i}`) March #{i}
                        -i++

            div.form-group
                label Start time
                select(class="form-control" name="ev-start" id="ev-start")
                    -let j = 8
                    while j < 21
                        option(value=`${j}`) #{j}:00
                        -j++

            div.form-group
                label End time
                select(class="form-control" name="ev-end" id="ev-end")
                    -let k = 9
                    while k < 21
                        option(value=`${k}`) #{k}:00
                        -k++
            button(class="btn btn-primary mr-2" type="button" id="submitBtn" onclick="submit()") Create
            a(class="btn btn-secondary" href="/calendar") Cancel
        script(src="/newevent.js")